.formularioDados{
  max-width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 100px;
}

.titulo h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color:rgb(53, 77, 213);
  font-family: Arial;
  margin-top: 80px;
}

.botao{
  margin-top: 50px;
}

.formularioLogin{
  text-align: center;
  max-width: 30%;
  margin-left: 35.1%;
}

.botao Button{
  margin: 20px;
}

form.modalLoginConta{
  display:none;
}